################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookStoreApp/.vs/BookStoreApp/v16
/BookStoreApp/obj
/BookStoreApp/bin/Debug/netcoreapp3.1
