
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <img src="~/images/company-logo.png" />
    <img src="~/images/Company_Icon.ico" />
    <img src="~/images/pngtree-growth-business-company-logo-png-image_728232.jpg" />
    <h1>Welcome to the Home Page!</h1>
</body>
</html>
